/*  */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(227, 224, 234);
  color: rgb(76, 73, 73);
  font-size: large;
}
.customLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 300px;
  height: 300px;
  font-size: larger;
  color: purple;
  font-weight: bolder;
}

.top-box {
  display: block;
}
.feature-description {
  display: flex;
  align-content: start;
}
.projects {
}
.button {
  font-weight: bold;
  border: 2px solid purple;
  border-radius: 8%;
  padding: 0.5%;
  width: fit-content;
  margin: 5px 10px 5px 0px;
  position: relative;
}
.workexperience {
  display: flex;
  flex-direction: row-reverse;
}
.button:hover {
  box-shadow: 5px 6px rgb(202, 122, 202);
}
.main-box {
  /* margin-left: auto;
  margin-right: auto; */
}

.simple-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.box1 {
  width: 100%;
}
.features {
  display: flex;
  flex-direction: row-reverse;
  margin-right: auto;
}
.feature-description {
  width: 100%;
}
.ebox {
  display: flex;
  flex-direction: row-reverse;
}

.work-skill-box {
  display: flex;
  flex-direction: row;
}
.skill-box {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin: 40px 10px 10px 0px;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-content: flex-end;
  align-items: flex-start;
  position: fixed;
  bottom: 30px;
}
.email {
  position: fixed;
  bottom: 70px;
  right: 0;
  color: purple;
  font-weight: bolder;
  font-size: 20px;
  rotate: 270deg;
}
.ant-spin-dot-item {
  background-color: red;
}
.parentFeature {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.line {
  width: 40%;
}
hr {
  height: 2px;
  background-color: purple;
  border: none;
}
.title {
  text-align: center;
  color: purple;
  font-weight: bolder;
  font-size: larger;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  color: purple;
  font-size: 30px;
}
@media screen and (max-width: 1186px) {
  .main-box {
    display: flex;
    flex-direction: column;
    column-gap: 20;
    align-content: center;
    /* width: fit-content; */
  }
  .box1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 691px) {
  .main-box {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }

  .top-intro {
    display: flex;
    flex-direction: column;
  }
  .ebox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .projects {
    display: flex;
  }
}
