.top-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}
.workexperience {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  padding: 10px;
}

.main-box {
  display: flex;
  flex-direction: row;
  column-gap: 20;
  align-content: center;
  width: fit-content;
}

.simple-box {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px #e9e9ec;
  margin: 10px 0px 10px 10px;
}
.box1 {
  max-width: 80%;
}

.simple-box :hover {
  background-color: rgba(245, 245, 245, 0.788);
}
.work-skill-box {
  display: flex;
  flex-direction: row;
}
.skill-box {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin: 0px 10px 10px 0px;
}
@media screen and (max-width: 1186px) {
  .main-box {
    display: flex;
    flex-direction: column;
    column-gap: 20;
    align-content: center;
    width: fit-content;
  }
  .box1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}
@media screen and (max-width: 691px) {
  .work-skill-box {
    display: flex;
    flex-direction: column;
  }
}
