.main-block {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.details {
  margin-left: 5%;
  width: 100;
  row-gap: 10;
}
.education {
  width: 50%;
}
.img1:hover {
  box-shadow: 2px 2px rgb(202, 122, 202);
  border-radius: 50%;
  height: fit-content;
}
