.experience-box {
  margin: 10px 0px 0px 0px;
}

.wexperience-box {
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  color: white;
  width: 50%;
}
.company-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.company-logo:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.experience-table {
  margin-top: 10px;
  border-bottom: 2px solid;
  border-width: inherit 100%;
}
.experience-table :hover {
  margin-top: 10px;
  background-color: rgba(245, 245, 245, 0.788);
}
table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.wbox {
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ant-timeline {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.company-description {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  color: aliceblue;
  font-weight: normal;
}
.ant-timeline-item-label {
  color: aliceblue;
}
